#outer {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}
#info {
    padding-bottom: 10px;
}
#days > div {
    overflow: hidden;	/* Expand to contain floated image. */
    clear: left;
    height: 25%;
}
.icon {
    max-height: 100%;
    float: left;
}
.wrapper {
    display: table;
    height: 100%;
    padding: 10px;
}
.wrapper > div {
    display: table-cell;
    vertical-align: middle;
}