/* ==========================================================================
   Document
   ========================================================================== */
html,
body {
  /* Display & Box Model */
  height: 100%;
  /* Visual */
  color: #555;
  background: transparent; }

/**
 * Start of workaround for Bootstrap bug where content shifts when modal
 * is opened.
 *
 * https://github.com/twbs/bootstrap/issues/9855
 */
html {
  overflow: hidden;
  -ms-overflow-style: scrollbar; }

body {
  overflow: auto; }

/* End of workaround */
p {
  padding: 0; }

/* ==========================================================================
   Navigation
   ========================================================================== */
.navbar {
  /* Display & Box Model */
  padding-bottom: 20px;
  border-bottom: 1px solid #cccccc;
  /* Visual */
  background-color: #efefef; }

.navbar-header,
.navbar-default .navbar-collapse {
  padding-top: 20px; }

.navbar-default {
  /* Main menu */
  /* Collapsed menu */ }
  .navbar-default .navbar-nav > .dropdown > a .caret,
  .navbar-default .navbar-nav > .dropdown > a:hover .caret,
  .navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #2d71c3;
    border-bottom-color: #2d71c3; }
  .navbar-default .navbar-nav > li > a {
    /* Display & Box Model */
    padding-top: 0;
    padding-bottom: 0;
    /* Visual */
    color: #0a63d0;
    font-size: 18px;
    line-height: 34px; }
  .navbar-default .navbar-nav > li > a:hover {
    color: #0a63d0; }
  .navbar-default .navbar-left > li > a:hover,
  .navbar-default .navbar-left > li > a:focus {
    color: #fff;
    background-color: #0a63d0; }
  .navbar-default .navbar-toggle {
    border: none; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #2d71c3; }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #ddd; }

/* Logo
   ========================================================================== */
.navbar-brand {
  padding: 0 50px 0 0;
  height: auto; }

.logo-small {
  /* 60% of original. */
  width: 90px;
  height: 34px; }

/* Collapsed menu
   ========================================================================== */
.collapsed-menu {
  /* Positioning */
  float: left;
  /* Display & Box Model */
  padding-right: 7px;
  margin-top: -1px;
  /* Visual */
  font-size: 12px;
  font-weight: bold;
  color: #2d71c3; }

.icon-bar-container {
  float: right; }

/* Media queries
   ========================================================================== */
@media (min-width: 768px) {
  .navbar > .container .navbar-brand {
    margin-left: 0; } }
@media (max-width: 1024px) {
  #main-nav {
    position: static; } }
/* ==========================================================================
   Links
   ========================================================================== */
a:link,
a:visited {
  color: #2d71c3; }

a:hover {
  text-decoration: none; }

/* ==========================================================================
   Forms
   ========================================================================== */
/* Drop-downs & text fields
   ========================================================================== */
select,
input[type="text"],
input[type="url"],
.dropdown-toggle.btn-default,
a.bfh-selectbox-toggle {
  /* Display & Box Model */
  height: 34px;
  padding: 5px 5px;
  border: 1px solid #dddddd;
  /* Visual */
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  background: #eee;
  color: #888;
  font-size: 14px; }

/* Input field focus
   ========================================================================== */
input:focus {
  border-color: #00b259;
  outline: none; }

/* ==========================================================================
   Modals
   ========================================================================== */
.modal {
  z-index: 9999; }

.modal-body {
  padding-bottom: 0; }

.modal-header,
.modal-footer {
  border: none; }

.modal-backdrop {
  background-color: #fff; }

.modal-backdrop.in {
  /* Positioning */
  z-index: 9001;
  /* Visual */
  opacity: 0.7;
  filter: alpha(opacity=70); }

/**
 * Part of workaround for Bootstrap bug where content shifts when modal
 * is opened.
 *
 * https://github.com/twbs/bootstrap/issues/9855
 */
.modal-open {
  overflow: auto; }

/* ==========================================================================
   Buttons
   ========================================================================== */
/* Button text
   ========================================================================== */
.button-spacer {
  padding-right: 5px; }

/* Close button
   ========================================================================== */
.close {
  opacity: 0.2; }
  .close img {
    width: 24px;
    height: 24px; }

/* Sticky buttons
   ========================================================================== */
.sticky-buttons {
  /* Positioning */
  z-index: 10;
  /* Display & Box Model */
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  /* Visual */
  background-color: #fff; }

/* Toggle buttons (http://www.bootstrap-switch.org/)
   ========================================================================== */
.has-switch {
  /* Visual */
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  border-color: #dddddd;
  /* Display & Box Model */
  min-width: 120px;
  margin-top: -1px; }
  .has-switch > div > label,
  .has-switch > div > span {
    /* Display & Box Model */
    padding-bottom: 7px;
    padding-top: 7px;
    /* Visual */
    font-size: 16px; }

/* ==========================================================================
   Tables
   ========================================================================== */
.table thead > tr {
  background-color: #eee; }
.table thead > tr > th,
.table thead > tr > td,
.table tbody > tr > th,
.table tbody > tr > td,
.table tfoot > tr > th,
.table tfoot > tr > td {
  padding: 5px;
  border-top: none;
  border-bottom: 1px solid #dddddd; }
.table tbody > tr.alert-danger,
.table tbody > tr.alert-warning {
  color: #333; }
.table tbody > tr.alert-danger > td {
  border-bottom: 1px solid #ebccd1; }
.table tbody > tr.alert-warning > td {
  border-bottom: 1px solid #faebcc; }

/* ==========================================================================
   Footer
   ========================================================================== */
.footer {
  /* Display & Box Model */
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid #cccccc;
  /* Visual */
  background-color: #efefef; }

.social-text {
  display: inline-block;
  margin-bottom: 10px; }

ul.social {
  display: inline-block; }
  ul.social li a {
    /* Display & Box Model */
    display: block;
    width: 24px;
    height: 24px;
    /* Visual */
    text-indent: -9999em;
    background: url("http://s3.amazonaws.com/Common-Test/css/images/social.png") 0 0 no-repeat; }
  ul.social li.twit a {
    background-position: -24px 0; }
  ul.social li.in a {
    background-position: -48px 0; }
  ul.social li.gplus a {
    background-position: -72px 0; }
  ul.social li.email a {
    background-position: -96px 0; }

/* Media queries
   ========================================================================== */
@media (min-width: 768px) {
  .copyright {
    text-align: right; } }
/* ==========================================================================
   Widgets
   ========================================================================== */
.widget-overlay {
  /* Positioning */
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* Visual */
  background: rgba(255, 255, 255, 0.7); }

.widget-wrapper {
  /* Positioning */
  z-index: 2;
  /* Display & Box Model */
  height: 90%;
  padding-bottom: 100px;
  margin: 40px auto 0;
  /* Visual */
  overflow: auto; }
  .widget-wrapper > .modal-header {
    padding-left: 0;
    padding-right: 0; }

/* Separate form into sections.
   ========================================================================== */
/*.divider {
	padding-top: 15px;
	border-top: $dark-border;
}*/
