body {
    background: transparent;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none; 
}		
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    text-align: left;
    font-weight: normal;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Color Conditions:
   changeUpIncrease - Change Up Green Down Red - Styling for Change Up Green
   changeUpDecrease - Change Up Green Down Red - Styling for Change Down Red
   changeDownDecrease - Change Down Green Up Red - Styling for Change Down Green
   changeDownIncrease - Change Down Green Up Red - Styling for Change Up Red
   valuePositivePositive - Value Positive Green Negative Red - Styling for Value Positive Green
   valuePositiveNegative - Value Positive Green Negative Red - Styling for Value Negative Red
   valueNegativeNegative - Value Negative Green Positive Red - Styling for Value Negative Green
   valueNegativePositive - Value Negative Green Positive Red - Styling for Value Positive Red */
.changeUpIncrease, .changeDownDecrease, .valuePositivePositive, .valueNegativeNegative {
    color: rgb(0, 255, 0);
}
.changeUpDecrease, .changeDownIncrease, .valuePositiveNegative, .valueNegativePositive {
    color: red;
}
/* Over-ride the Heading Font and Data Font. */
.heading_font-style {}
.data_font-style {}