<?xml version="1.0" encoding="UTF-8"?>
<Module>
    <ModulePrefs title="Rise Vision Events Gadget" height="400" title_url="http://www.risevision.com/help/users/what-are-gadgets/free-gadgets/rise-vision-events/">
        <Require feature="rpc" />
        <Optional feature="rise-api">
            <Param name="reports_ready" />
        </Optional>
    </ModulePrefs>
    <UserPref name="visualOption" />
    <UserPref name="activeTabBgColor" />    
    <UserPref name="activeTabColor" /> 
    <UserPref name="inactiveTabBgColor" />
    <UserPref name="inactiveTabColor" />
    <UserPref name="daysCount" />
    <UserPref name="scrollBy" />
    <UserPref name="scrollHold" />
    <UserPref name="scrollResumes" />
    <UserPref name="bgColor" />    
    <UserPref name="showDate" />
    <UserPref name="useDefault" />
    <UserPref name="id" />
    <UserPref name="rsW" />
    <UserPref name="rsH" />
    <Content type="html" view="editor">
        <![CDATA[
	    <style>
		#settings {
		    display: none;
		}
	    </style>
	    <div id="wrapper">
		<div class="errors"></div>
		<form id="settings" name="settings">
		    <ol>
			<li>
			    <label for="calendarID">
				<a href="#" class="tooltip">Calendar ID*:<span>ID of the publicly available Google Calendar</span></a>
			    </label>
			    <input id="calendarID" name="calendarID" type="text" class="medium" value="" required autofocus />
			</li>
			<li>
			    <label for="visualOption">
				<a href="#" class="tooltip">Visual Option:<span>Whether to use a tabbed or list format</span></a>
			    </label>
			    <select id="visualOption" name="visualOption" class="short">
				<option value="tab" selected="selected">Tabs</option>
				<option value="list">List</option>
			    </select>
			</li>		
			<li class="tabs drillDown" style="display: none;">
			    <ol>
				<li>
				    <label for="activeTabBgColor">Active Tab Background Color:</label>
				    <input id="activeTabBgColor" name="activeTabBgColor" type="text" class="short" />
				    <div class="colorPicker" data-for="activeTabBgColor"></div>
				</li>
				<li>
				    <label for="activeTabColor">Active Tab Color:</label>
				    <input id="activeTabColor" name="activeTabColor" type="text" class="short" />
				    <div class="colorPicker" data-for="activeTabColor"></div>
				</li>	    
				<li>
				    <label for="inactiveTabBgColor">Inactive Tab Background Color:</label>
				    <input id="inactiveTabBgColor" name="inactiveTabBgColor" type="text" class="short" />
				    <div class="colorPicker" data-for="inactiveTabBgColor"></div>
				</li>
				<li>
				    <label for="inactiveTabColor">Inactive Tab Color:</label>
				    <input id="inactiveTabColor" name="inactiveTabColor" type="text" class="short" />
				    <div class="colorPicker" data-for="inactiveTabColor"></div>
				</li>
				<li>
				    <label for="tab_font-style">Tab Font:</label>
				    <span id="tab_font-style" name="tab_font-style" data-css=".tab_font-style{font-family:Verdana, Verdana, Geneva, sans-serif;color:rgb(0, 0, 0);font-weight:normal;font-size:18px;}">Verdana, 18px, color: rgb(0, 0, 0)</span>
				    <div class="fontSelector" data-for="tab_font-style"></div>
				</li>
			    </ol>
			</li>
			<li class="list drillDown" style="display: none;">
			    <ol>
				<li>
				    <label for="day_font-style">Day Font:</label>
				    <span id="day_font-style" name="day_font-style" data-css=".day_font-style{font-family:Verdana, Verdana, Geneva, sans-serif;color:rgb(0, 0, 0);font-weight:bold;font-size:24px;}">Verdana, 24px, bold, color: rgb(0, 0, 0)</span>
				    <div class="fontSelector" data-for="day_font-style"></div>
				</li>				
			    </ol>
			</li>
			<li>
			    <label for="daysCount">Number of Days:</label>
			    <select id="daysCount" name="daysCount" class="short">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>
				<option value="7" selected="selected">7</option>
			    </select>
			</li>
			<li>
			    <label for="scrollBy">
				<a href="#" class="tooltip">Scroll By:<span>How to scroll the data if not all of it is visible</span></a>
			    </label>
			    <select id="scrollBy" name="scrollBy" class="short">
				<option value="none" selected="selected">None</option>
				<option value="row">Row</option>
				<option value="page">Page</option>
			    </select>
			</li>  
			<li class="scroll drillDown" style="display: none;">
			    <ol>				  
				<li>
				    <label for="scrollHold">
					<a href="#" class="tooltip">Scroll Hold (seconds):<span>Number of seconds to pause after each scroll</span></a>
				    </label>
				    <input id="scrollHold" name="scrollHold" type="text" class="short" value="10" />
				</li>
				<li>
				    <label for="scrollResumes">
					<a href="#" class="tooltip">Scroll Resumes (seconds):<span>Number of seconds to pause after scrolling is stopped by a touch</span></a>
				    </label>
				    <input id="scrollResumes" name="scrollResumes" type="text" class="short" value="5" />
				</li>
			    </ol>
			</li>			
			<li>
			    <label for="bgColor">Background Color:</label>
			    <input id="bgColor" name="bgColor" type="text" class="short" />
			    <div class="colorPicker" data-for="bgColor"></div>
			</li>		    		    
			<li>
			    <label for="showDate">Show Date:</label>
			    <input id="showDate" name="showDate" type="checkbox" checked />
			</li>            						
			<li>
			    <label for="title_font-style">Title Font:</label>
			    <span id="title_font-style" name="title_font-style" data-css=".title_font-style{font-family:Verdana, Verdana, Geneva, sans-serif;color:rgb(0, 0, 0);font-weight:bold;font-size:20px;}">Verdana, 20px, bold, color: rgb(0, 0, 0)</span>
			    <div class="fontSelector" data-for="title_font-style"></div>
			</li>
			<li>
			    <label for="location_font-style">Location and Date Font:</label>
			    <span id="location_font-style" name="location_font-style" data-css=".location_font-style{font-family:Verdana, Verdana, Geneva, sans-serif;color:rgb(0, 0, 0);font-weight:bold;font-size:20px;}">Verdana, 20px, bold, color: rgb(0, 0, 0)</span>
			    <div class="fontSelector" data-for="location_font-style"></div>
			</li>
			<li>
			    <label for="description_font-style">Description Font:</label>
			    <span id="description_font-style" name="description_font-style" data-css=".description_font-style{font-family:Verdana, Verdana, Geneva, sans-serif;color:rgb(0, 0, 0);font-weight:normal;font-size:18px;}">Verdana, 18px, color: rgb(0, 0, 0)</span>
			    <div class="fontSelector" data-for="description_font-style"></div>
			</li>
			<li>
			    <label for="useDefault">
				<a href="#" class="tooltip">Use Default Layout:<span>Whether to use a default or a custom layout</span></a>
			    </label>
			    <input id="useDefault" name="useDefault" type="checkbox" checked="checked" />
			</li>
			<li class="layoutURL drillDown" style="display: none;">
			    <label for="layoutURL">Layout URL*:</label>
			    <input id="layoutURL" name="layoutURL" type="text" class="long" required />
			</li>
		    </ol>
		</form>
	    </div>
	    
	    <link rel="stylesheet" href="https://s3.amazonaws.com/Common-Production/Settings/css/Settings.css" />
	    
	    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
	    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    
	    <script type="text/javascript" src="https://s3.amazonaws.com/Common-Production/Common/RiseVision.Common.min.js"></script>
	    <script type="text/javascript" src="https://s3.amazonaws.com/Gadget-Events/Events.min.js"></script>
    
            <script type="text/javascript">
		var prefs = new gadgets.Prefs(),
		    eventSettings = null;
		
		google.load("gdata", "1");
                                
                function init() {
		    google.setOnLoadCallback(function() {
			$(function() {
			    eventSettings = new RiseVision.Events.Settings();
			    
			    gadgets.rpc.register("rscmd_getSettings", eventSettings.getSettings);
			    gadgets.rpc.register("rscmd_colorPickerCallback", eventSettings.setColor);
			    gadgets.rpc.register("rscmd_fontSelectorCallback", eventSettings.setFont);
			    
			    eventSettings.initSettings();
			});
		    });
                }
		
                gadgets.util.registerOnLoadHandler(init); 
            </script>
	]]>
    </Content>	    
    <Content type="html">
        <![CDATA[
        <style type="text/css">
	    body {
		background-color: transparent;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		user-select: none;
	    }
	    
	    #container {		
		width: __UP_rsW__px;
		height: __UP_rsH__px;
	    }
	    	        
	    .active {
		color: __UP_activeTabColor__ !important;
		background: __UP_activeTabBgColor__;
	    }
	    
	    .inactive {
		color: __UP_inactiveTabColor__ !important;
		background: __UP_inactiveTabBgColor__;
	    }
	    
	    .error {
		color: red;
	    }
	    
	    __UP_tab_font-style__
	    __UP_day_font-style__
	    __UP_title_font-style__
	    __UP_location_font-style__
	    __UP_description_font-style__
        </style>
    
	<div id="container">
	</div>

	<script type="text/javascript" src="http://www.google.com/jsapi"></script>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://datejs.googlecode.com/svn/trunk/build/date.js"></script>
    
	<script type="text/javascript" src="https://s3.amazonaws.com/Common-Production/Common/RiseVision.Common.min.js"></script>
	<script type="text/javascript" src="https://s3.amazonaws.com/Common-Production/idle-timer/idle-timer.min.js"></script>
    	<script type="text/javascript" src="https://s3.amazonaws.com/Gadget-Events/Events.min.js"></script>
    
        <script type="text/javascript">
            var prefs = new gadgets.Prefs(),
		eventWidget = null;
		
	    //Issue 1051 - Disable right-click.
	    window.oncontextmenu = function() {
		return false;
	    };
		
	    //Add Analytics code.
	    var _gaq = _gaq || [];
	    
	    _gaq.push(['_setAccount', 'UA-41395348-8']);
	    _gaq.push(['_trackPageview']);
	  
	    (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	    })();
	    
	    google.load("gdata", "1");
	    
            function initialize() {
                var id = prefs.getString("id"),
		    bgColor = prefs.getString("bgColor");
		
                if (bgColor != null && bgColor != "") {
                    document.body.style.background = bgColor;
                }
		
		if (id != null && id != "") {
		    gadgets.rpc.register("rscmd_play_" + id, play);
		    gadgets.rpc.register("rscmd_pause_" + id, pause);
		    gadgets.rpc.register("rscmd_stop_" + id, stop);
		}
				
		google.setOnLoadCallback(function() {
		    eventWidget = new RiseVision.Events.EventWidget();
		    
		    gadgets.rpc.register("rsparam_set_" + id, eventWidget.getAdditionalParams);
		    gadgets.rpc.call("", "rsparam_get", null, id, "additionalParams");
		});
            }
	    
	    function play() {
		eventWidget.play();
	    }
	    
	    function pause() {
		eventWidget.pause();
	    }
	    
	    function stop() {
		eventWidget.pause();
	    }
	    
            // sends "READY" event to the Viewer
            function readyEvent() {
                gadgets.rpc.call('', 'rsevent_ready', null, prefs.getString("id"), true, true, true, true, true);
            }
            
            // sends "DONE" event to the Viewer
            function doneEvent() {
                gadgets.rpc.call('', 'rsevent_done', null, prefs.getString("id"));
            }
            
            gadgets.util.registerOnLoadHandler(initialize);
        </script>]]>
</Content>
</Module>