$rise-blue: #2d71c3;
$background-color: #efefef;
$light-border-color: #ddd;
$dark-border-color: #ccc;
$light-border: 1px solid $light-border-color;
$dark-border: 1px solid $dark-border-color;
$border-radius: 8px;
$logo-height: 34px;

@mixin border-radius {
	-webkit-border-radius: $border-radius;
	-moz-border-radius: $border-radius;
	-ms-border-radius: $border-radius;
	-o-border-radius: $border-radius;
	border-radius: $border-radius;
}

/* ==========================================================================
   Document
   ========================================================================== */
html,
body {
	/* Display & Box Model */
	height: 100%;

	/* Visual */
	color: #555;
	background: transparent;
}

/**
 * Start of workaround for Bootstrap bug where content shifts when modal
 * is opened.
 *
 * https://github.com/twbs/bootstrap/issues/9855
 */
html {
	overflow: hidden;
	-ms-overflow-style: scrollbar;
}

body {
	overflow: auto;
}
/* End of workaround */

p {
	padding: 0;
}

/* ==========================================================================
   Navigation
   ========================================================================== */
.navbar {
	/* Display & Box Model */
	padding-bottom: 20px;
	border-bottom: $dark-border;

	/* Visual */
	background-color: $background-color;
}

.navbar-header,
.navbar-default .navbar-collapse {
	padding-top: 20px;
}

.navbar-default {
	.navbar-nav {
		> .dropdown {
			> a,
			> a:hover,
			> a:focus {
				.caret {
					border-top-color: $rise-blue;
					border-bottom-color: $rise-blue;
				}
			}
		}

		> li {
			> a {
				/* Display & Box Model */
				padding-top: 0;
				padding-bottom: 0;

				/* Visual */
				color: #0a63d0;
				font-size: 18px;
				line-height: $logo-height;
			}

			> a:hover {
				color: #0a63d0;
			}
		}
	}

	/* Main menu */
	.navbar-left {
		> li {
			> a:hover,
			> a:focus {
				color: #fff;
				background-color: #0a63d0;
			}
		}
	}

	/* Collapsed menu */
	.navbar-toggle {
		border: none;

		.icon-bar {
			background-color: $rise-blue;
		}
	}

	.navbar-toggle:hover,
	.navbar-toggle:focus {
		background-color: #ddd;
	}
}

/* Logo
   ========================================================================== */
.navbar-brand {
	padding: 0 50px 0 0;
	height: auto;
}

.logo-small {
	/* 60% of original. */
	width: 90px;
	height: $logo-height;
}

/* Collapsed menu
   ========================================================================== */
.collapsed-menu {
	/* Positioning */
	float: left;

	/* Display & Box Model */
	padding-right: 7px;
	margin-top: -1px;

	/* Visual */
	font-size: 12px;
	font-weight: bold;
	color: $rise-blue;
}

.icon-bar-container {
	float: right;
}

/* Media queries
   ========================================================================== */
@media (min-width: 768px) {
	.navbar {
		> .container {
			.navbar-brand {
				margin-left: 0;
			}
		}
	}
}

@media (max-width: 1024px) {
	#main-nav {
		position: static;
	}
}

/* ==========================================================================
   Links
   ========================================================================== */
a:link,
a:visited {
	color: $rise-blue;
}

a:hover {
	text-decoration: none;
}

/* ==========================================================================
   Forms
   ========================================================================== */

/* Drop-downs & text fields
   ========================================================================== */
select,
input[type="text"],
input[type="url"],
.dropdown-toggle.btn-default,
a.bfh-selectbox-toggle {
	/* Display & Box Model */
	height: 34px;
	padding: 5px 5px;
	border: $light-border;

	/* Visual */
	@include border-radius;
	background: #eee;
	color: #888;
	font-size: 14px;
}

/* Input field focus
   ========================================================================== */
input:focus {
	border-color: #00b259;
	outline: none;
}

/* ==========================================================================
   Modals
   ========================================================================== */
.modal {
	z-index: 9999;
}

.modal-body {
	padding-bottom: 0;
}

.modal-header,
.modal-footer {
	border: none;
}

.modal-backdrop {
	background-color: #fff;
}

.modal-backdrop.in {
	/* Positioning */
	z-index: 9001;

	/* Visual */
	opacity: 0.7;
	filter: alpha(opacity=70);
}

/**
 * Part of workaround for Bootstrap bug where content shifts when modal
 * is opened.
 *
 * https://github.com/twbs/bootstrap/issues/9855
 */
.modal-open {
	overflow: auto;
}

/* ==========================================================================
   Buttons
   ========================================================================== */

/* Button text
   ========================================================================== */
.button-spacer {
	padding-right: 5px;
}

/* Close button
   ========================================================================== */
.close {
	opacity: 0.2;

	img {
		width: 24px;
		height: 24px;
	}
}

/* Sticky buttons
   ========================================================================== */
.sticky-buttons {
	/* Positioning */
	z-index: 10;

	/* Display & Box Model */
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;

	/* Visual */
	background-color: #fff;
}

/* Toggle buttons (http://www.bootstrap-switch.org/)
   ========================================================================== */
.has-switch {
	/* Visual */
	@include border-radius;
	border-color: $light-border-color;

	/* Display & Box Model */
	min-width: 120px;
	margin-top: -1px;

	> div {
		> label,
		> span {
			/* Display & Box Model */
			padding-bottom: 7px;
			padding-top: 7px;

			/* Visual */
			font-size: 16px;
		}
	}
}

/* ==========================================================================
   Tables
   ========================================================================== */
.table {
	thead {
		> tr {
			background-color: #eee;
		}
	}

	thead,
	tbody,
	tfoot {
		> tr {
			> th,
			> td {
				padding: 5px;
				border-top: none;
				border-bottom: $light-border;
			}
		}
	}

	tbody {
		> tr.alert-danger,
		> tr.alert-warning {
			color: #333;
		}

		> tr.alert-danger {
			> td {
				border-bottom: 1px solid #ebccd1;
			}
		}

		> tr.alert-warning {
			> td {
				border-bottom: 1px solid #faebcc;
			}
		}
	}
}

/* ==========================================================================
   Footer
   ========================================================================== */
.footer {
	/* Display & Box Model */
	padding-top: 25px;
	padding-bottom: 25px;
	border-top: $dark-border;

	/* Visual */
	background-color: $background-color;
}

.social-text {
	display: inline-block;
	margin-bottom: 10px;
}

ul.social {
	display: inline-block;

	li {
		a {
			/* Display & Box Model */
			display: block;
			width: 24px;
			height: 24px;

			/* Visual */
			text-indent: -9999em;
			background: url("http://s3.amazonaws.com/Common-Test/css/images/social.png") 0 0 no-repeat;
		}
	}

	li.twit {
		a {
			background-position: -24px 0;
		}
	}

	li.in {
		a {
			background-position: -48px 0;
		}
	}

	li.gplus {
		a {
			background-position: -72px 0;
		}
	}

	li.email {
		a {
			background-position: -96px 0;
		}
	}
}

/* Media queries
   ========================================================================== */
@media (min-width: 768px) {
	.copyright {
		text-align: right;
	}
}

/* ==========================================================================
   Widgets
   ========================================================================== */
.widget-overlay {
	/* Positioning */
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	/* Visual */
	background: rgba(255, 255, 255, 0.7);
}

.widget-wrapper {
	/* Positioning */
	z-index: 2;

	/* Display & Box Model */
	height: 90%;
	padding-bottom: 100px;
	margin: 40px auto 0;

	/* Visual */
	overflow: auto;

	> .modal-header {
		padding-left: 0;
		padding-right: 0;
	}
}

/* Separate form into sections.
   ========================================================================== */
/*.divider {
	padding-top: 15px;
	border-top: $dark-border;
}*/