#outer {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}
#info {
    padding-bottom: 10px;
}
#days {
    height: 75%;
}
#currentDay {
    height: 28%;
}
#days > div {
    overflow: hidden;	/* Expand to contain floated image. */
    clear: left;
}
#day1, #day2, #day3 {
    height: 24%;
}
.wrapper {
    display: table;
    height: 100%;
    padding: 10px;
}
.wrapper > div {
    display: table-cell;
    vertical-align: middle;
}
.currentIcon, .icon {
    max-height: 100%;
    float: left;
}