#outer {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}
#info {
    padding-bottom: 10px;
}
#days {
    overflow: hidden;	/* Expand to contain floated image. */
    text-align: center;
}
#currentDay {
    width: 28%;
}
.currentIcon, .icon {
    max-width: 100%;
}
#days > div {
    float: left;
}
#day1, #day2, #day3 {
    width: 24%;
}